@import '../Colors.scss';
$primary: #6743ee;
$seconday: #31bbf7;

form > .product {
  // height: calc(100vh - 100px);
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;

  @media screen and (max-width: 480px) {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .left,
  .right {
    flex: 1;
  }
  .img {
    flex: 1;
    // width: 80%;
    // height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @media screen and (max-width: 480px) {
      padding: 2rem;
    }

    img {
      width: 80%;
      height: 80%;
      object-fit: contain;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    gap: 20px;

    span {
      font-size: 1.5rem;
      color: $bg-color;
      font-weight: bold;
    }

    .sizes {
      display: flex;
      gap: 55px;

      .size {
        position: relative;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
        }
        span {
          position: absolute;
          text-transform: capitalize;
          top: -3px;
          right: -30px;
          background-color: teal;
          color: white;
          border-radius: 20px;
          font-size: 1rem;
          padding: 2px 10px;
        }
      }

      .size {
        cursor: pointer;
      }
      .size:first-child {
        width: 40px;
        height: 40px;
        z-index: 999;
      }
      .size:nth-child(2) {
        width: 60px;
        height: 60px;
        z-index: 999;
      }
      .size:last-child {
        width: 80px;
        height: 80px;
        z-index: 999;
      }
    }

    .ingredients {
      display: flex;
      flex-wrap: wrap;
      @media screen and (max-width: 480px) {
        gap: 10px;
        justify-content: center;
        flex-direction: column;
      }
    }
    .ingredients > div {
      display: flex;
      align-items: center;
      gap: 2px;
      cursor: pointer;

      .cb {
        width: 55px;
      }
      label {
        cursor: pointer;
        margin: 0;
        padding: 0;
      }
    }

    .add {
      display: flex;
      align-items: center;
      margin-top: 30px;
      @media screen and (max-width: 480px) {
        justify-content: center;
      }

      input[type='number'] {
        width: 50px;
        // height: 25px;
        padding: 1.25rem;
        font-size: 1.25rem;
        @media screen and (max-width: 480px) {
          padding: 10px 20px;
          height: inherit;
        }
      }
      button,
      input[type='submit'] {
        // height: 30px;
        padding: 10px 20px;
        margin-left: 10px;
        background-color: $bg-color;
        color: white;
        border: none;
        font-size: 1.25rem;
        padding: 1.25rem;
        font-weight: 400;

        cursor: pointer;
        @media screen and (max-width: 480px) {
          padding: 10px 20px;
          height: inherit;
        }
      }
    }

    .items {
      display: flex;
      .item {
        padding: 20px;

        input[type='radio'] {
          display: none;
        }
        label {
          padding: 10px 20px;
          cursor: pointer;
          background-color: antiquewhite;
        }
        input[type='radio']:checked + label {
          background-color: blue;
          color: white;
        }
      }
    }
  }
}

// input[type='radio'] {
//   vertical-align: middle;
//   width: 20px;
//   height: 20px;
//   border-radius: 10px;
//   background: none;
//   border: 0;
//   box-shadow: inset 0 0 0 1px $seconday;
//   box-shadow: inset 0 0 0 1.5px $seconday;
//   appearance: none;
//   padding: 0;
//   margin: 0;
//   transition: box-shadow 150ms cubic-bezier(0.95, 0.15, 0.5, 1.25);
//   pointer-events: none;

//   &:checked {
//     box-shadow: inset 0 0 0 6px #6743ee;
//   }
// }
