@import '../Colors.scss';

.cart {
  // height: calc(100vh - 200px);
  padding: 50px;
  display: flex;
  @media screen and (max-width: 480px) {
    flex-direction: column;
    padding: 20px;
  }

  .left {
    flex: 2;

    table {
      width: 100%;
      border-spacing: 10px;
      tr:first-child {
        th {
          font-weight: bold;
          color: $bg-color;
          text-align: left;
        }
        @media screen and (max-width: 480px) {
          display: none;
        }
      }
      tr {
        @media screen and (max-width: 480px) {
          display: flex;
          flex-direction: column;
          text-align: center;
          margin-bottom: 20px;
        }
        // .name {
        //   color: $bg-color;
        //   font-size: 18px;
        // }
        // .total {
        //   font-size: 18px;
        // }

        td {
          .price::before {
            @media screen and (max-width: 480px) {
              content: 'Price: ';
            }
          }
        }
      }
    }
  }

  .right {
    flex: 1;

    .wrapper {
      padding: 10px 50px 50px 50px;
      background-color: rgb(40, 39, 39);
      color: white;
      display: flex;
      flex-direction: column;

      h1 {
        color: white;
      }
      div {
        margin-bottom: 10px;
      }
      div > span {
        margin-right: 10px;
      }

      button {
        height: 30px;
        color: $bg-color;
        font-weight: bold;
        cursor: pointer;
        margin-top: 10px;
      }
    }
  }
}
